* {
  box-sizing: border-box;
}
header {
  position: sticky;
  top: 0;
}
body {
  background-image: image(taustapilt.jpg);
}
  .header {
  position: sticky;
  padding: 2rem;
  display: flex;
}
.logo {
  /* Comme Si */


position: absolute;
width: 213px;
height: 65px;
left: calc(50% - 213px/2 + 14.5px);
top: 2vh;

font-family: Antykwa Poltawskiego;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 65px;
letter-spacing: 0.02em;

color: #000000;

}

.shop a {
  /* Rectangle 30 */


position: absolute;
width: 43px;
height: 10px;
left: 30px;
top: 53px;

}

.shop a {
/* SHOP */


position: absolute;
width: 43px;
height: 20px;
left: 2vw;
top: 7vh;

font-family: Sporting Grotesque;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 20px;
text-decoration: none;
/* identical to box height */

align-items: center;

color: #000000;
}
.about a {
  /* Rectangle 31 */


position: absolute;
width: 55px;
height: 10px;
left: 2vw;
top: 11vh;



/* ABOUT */


position: absolute;
width: 57px;
height: 20px;
left: 2vw;
top: 11vh;

font-family: Sporting Grotesque;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 20px;
text-decoration: none;
/* identical to box height */

display: flex;
align-items: center;

color: #000000;
}
.thestudio a {
  /* Rectangle 32 */


position: absolute;
width: 92px;
height: 10px;
left: 2vw;
top: 15vh;



/* THE STUDIO */


position: absolute;
width: 98px;
height: 20px;
left: 2vw;
top: 15vh;

font-family: Sporting Grotesque;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 20px;
text-decoration: none;
/* identical to box height */

display: flex;
align-items: center;

color: #000000;
}
.korv {
  position: absolute;
  right: 1vw;
  top: 6vh;
}
.cart a {

  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  position: absolute;
  width: 69px;
  height: 23px;
  right: 1vw;
  top: 7vh;


font-family: Sporting Grotesque;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 1;
text-decoration: none;

color: #000000;
}

/* .korv {
  position: absolute;
  right: 0.5vw;
  top: 7vh;
} */

.taustapilt {

display: block;
position: absolute;
top: 50%;
left: 0;
transform: translateY(-50%);
width: calc(100% + 1px)
height: calc(100% + 1px)
object-fit: cover;
box-sizing: inherit;
background-repeat:

}

.suurkast {

width: 350px;
height: 140px;

  padding: 0 2rem;
  position: relative;
  top: 30vh;
  left: 2vw;
  margin: 0 auto;
  max-width: 80em;

}

.pealkiri {
  margin: 0 0 0.5rem;

  font-family: Antykwa Poltawskiego
  font-weight:400;
  font-style: normal;
  font-size: 48px;

}

.content {
  display:block;
  position:relative;
  z-index: 2;
  width: 100%;
  max-width: 50em;
}
.paragrahv {

}
.shopnow a {
  position: flex;
  flex-direction: row;
  padding-right: 1.5rem;

  text-decoration: none;

  color: #000000;
}
