* {
  box-sizing: border-box;
}
body {
  width: 100%;
  font-family: 'Montserrat', sans-serif;
}

.kast {
  position: absolute;
  width: 547px;
  height: 533px;
  left: 435px;
  top: 140px;
}

.kast1 {
  width: 547px;
  height: 80px;
  border-style: solid;
  border-bottom-style: none;
  border-color: black;
  border-width: thin;
}
.kast2 {
  width: 547px;
  height: 387px;
  border-style: solid;
  border-bottom-style: none;
  border-color: black;
  border-width: thin;
}
.kast3 {
  width: 547px;
  height: 80px;
  border-style: solid;
  border-color: black;
  border-width: thin;
}
#nimi {
  position: absolute;
  width: 200px;
  height: 44px;
  left: 325px;
  top: 0px;


  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  line-height: 44px;
  color: #000000;
}

#aasta {
  position: absolute;
  width: 76px;
  height: 29px;
  left: 25px;
  top: 125px;


  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;

  color: #000000;
}
#eka {
  position: absolute;
  width: 400px;
  height: 29px;
  left: 200px;
  top: 125px;


  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;

  color: #000000;
}
#lauraokas {
  position: absolute;
  width: 139px;
  height: 29px;
  left: 25px;
  top: 490px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  text-decoration: none;

  color: #000000;
}
#insta {
  position: relative;
  width: 24px;
  height: 24px;
  left: 500px;
  top: 25px;
}
/* #cv {
position: absolute;
left: 446px;
top: 246px;
} */
#veeb2 {
  position: absolute;
  width: 480px;
  height: 360px;
  left: 965px;
  top: 150px;
}

#rynnostuudio1 {
  position: absolute;
  width: 384px;
  height: 256px;
  left: 250px;
  top: 10px;
}

#veeb1 {
  position: absolute;
  width: 529px;
  height: 297px;
  left: 534px;
  top: 520px;
}

#rynnostuudio3 {
  position: absolute;
  width: 235px;
  height: 352px;
  left: 5px;
  top: 10px;
}

#mobiil1 {
  position: absolute;
  width: 183px;
  height: 396px;
  left: 80px;
  top: 400px;
}

/* #mobiil1 img {
  width: 183px;
  height: 396px;
} */

img {
  height: 100%;
  width: 100%;
}

@media only screen and (max-width: 1130px) {

#rynnostuudio3 {
  width: 352px;
  height: 510px;
  left: 36px;
  top: 100px;
}

#rynnostuudio1 {
  width: 467px;
  height: 330px;
  left: 500px;
  top: 100px;
}
#mobiil1 {
  width: 205px;
  height: 420px;
  left: 37px;
  top: 810px;
}
#veeb1{
  width: 395px;
  height: 225px;
  left: 328px;
  top: 1018px;
}
#veeb2 {
  height: 305px;
  width: 440px;
  left: 575px;
  top: 500px;
}

.kast {
  width: 530px;
  height: 521.55px;
  left: 224px;
  top: 600px;

}
.kast1 {
  width: 330px;
  height: 50px;

  border-style: solid;
  border-bottom-style: none;
  border-color: black;
  border-width: thin;
}
.kast2 {
  width: 330px;
  height: 250px;

  border-style: solid;
  border-bottom-style: none;
  border-color: black;
  border-width: thin;
}
.kast3 {
  width: 330px;
  height: 50px;

  border-style: solid;
  border-color: black;
  border-width: thin;

}
#insta{
  width: 15px;
  height: 14px;
  left: 300px;
  top: 17px;
}
#nimi {
  width: 121px;
  height: 27px;
  left: 210px;
  top: 0px;

  font-size: 18px;
  line-height: 22px;
}
#aasta{
  width: 46px;
  height: 18px;
  left: 20px;
  top: 75px;

  font-size: 14px;
  line-height: 17px;
}
#eka {
  width: 190px;
  height: 18px;
  left: 126px;
  top: 75px;

  font-size: 14px;
  line-height: 17px;
}
#lauraokas{
  width: 84px;
  height: 18px;
  left: 20px;
  top: 317px;

  font-size: 14px;
  line-height: 17px;
}
}
/* .stuudio1 {
position: relative;
width: 235px;
height: 352px;
left: 124px;
top: 55px;

  background: url(rynnostuudio3.jpg);
}

.stuudio2 {
position: relative;
width: 384px;
height: 256px;
left: 384px;
top: 55px;

background: url(rynnostuudio1.jpg);
}

.mobiil1{
position: relative;
width: 183px;
height: 396px;
left: 59px;
top: 564px;


background: url(mobiil1.jpg);
}

.veeb1 {
position: relative;
width: 529px;
height: 297px;
left: 654px;
top: 715px;

background: url(veeb1.jpg);
}

.veeb2 {
position: relative;
width: 517px;
height: 320px;
left: 1017px;
top: 244px;

background: url(veeb2.jpg);
} */
